{% load static %}
<h2>Том {{name}}</h2>
<img  src="{% static "Tom2.jpg" %}" alt="Здесь должна быть картинка со вторым томом" width="268" height="405">


<p>
  Второй том энциклопедии «Warcraft» откроет ещё больше подробностей из истории и мифологии вселенной, а украшать всё это будут великолепные иллюстрации от знаменитых художников: Питера Ли, Джозефа Лакруа и Алекса Хорли.
<br><br>
  Издание представляет собой полностью кодифицированную и официальную историю игры "Warcraft", в нем хронологически излагаются все события, которые происходили в игре, или существовали в ее легендах и лоре, начиная с самой первой части, вышедшей еще в начале 1990-х годов. Это первое издание подобного рода, подводящее своеобразный итог более чем двадцатилетней истории игры, приводящее в единую систему все разрозненные события, расы, планеты, конфликты и государства, придуманные создателями "Варкрафта"
<br>
</p>

<a href="https://www.labirint.ru/books/576527/">Приобрести</a>
<br>
<a href="{% url 'main_url' %}">Вернуться назад</a>
