{% load static %}
<h2>Том {{name}}</h2>
<img  src="{% static "Tom1.jpg" %}" alt="Здесь должна быть картинка с первым томом" width="268" height="405">

<p>
Эта великолепная трехтомная энциклопедия охватывает всю историю Warcraft, от самого зарождения вселенной: возвышение древних империй, темные и светлые силы, определившие судьбу Азерота, не слыханные доселе предания о его героях и злодеях.
<br>
</p>

<a href="https://www.labirint.ru/books/535916/">Приобрести</a>
<br>
<a href="{% url 'main_url' %}">Вернуться назад</a>
