{% load static %}
<h2>Том {{name}}</h2>
<img  src="{% static "Tom3.jpg" %}" alt="Здесь должна быть картинка с третим томом" width="268" height="405">

<p>
    Блестяще выполненное издание подводит своеобразный итог под более чем двадцатилетней историей популярной игровой серии и станет настоящим подарком для любого поклонника Вселенной WARCRAFT.
<br><br>
    Издание содержит множество цветных полностраничных иллюстраций от Питера Ли, Эмили Чен, Стэнтона Фенга, Романа Кенни и других талантливых художников Blizzard, а также тщательно проработанные и полные мельчайших деталей карты Джозефа Лакруа, работавшего над серией комиксов Diablo: Sword of Justice. Над текстовой составляющей «Хроник» трудились создатели игровой серии, в том числе Крис Метцен, Мэтт Бернс и Роберт Брукс.
<br><br>
    Третий том "Варкрафт: Хроники" повествует о самых масштабных страницах в летописи Азерота. Именно здесь раскрывается подлинная история зарождения Плети и становления Короля-лича, рассказываются трагические и страшные истории Артаса Менетила и Иллидана Ярости Бури, а мир горит в пламени Катаклизма. Вновь сталкиваются Орда и Альянс, а изощренные интриги и глобальные конфликты разрывают не только Азерот, но и миры вокруг. Бессчетное количество народов, государств и сторон, эпическая история, герои и злодеи, ставшие легендой далеко за пределами самой игры - все это в единственно подлинных и окончательных хрониках мира "Warcraft".
    <br>
</p>

    <a href="https://www.labirint.ru/books/653302/">Приобрести</a>
    <br>
    <a href="{% url 'main_url' %}">Вернуться назад</a>
